.logo{
width: 15%;
display: block;
padding: 75px 0 200px 650px; 
}

/* To target an Id, you gotta use a # */

body{
    /*font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px; */

    font: 15px/20px arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


/* Global. This will apply to everything that has the container */
.container{
    width: 80%;
   margin: auto; /* This will set the margins to the middle */
overflow: hidden;
/* This will hide the scrollbar if the stuff goes over the div. */
}


/*Header. HTML5 stuff like this just needs the name to be called*/
header{
padding-top: 40px;
padding-bottom: 40px;
background-attachment: fixed;
border: 10px;
background-image: url(./imgs/San-Diego-Skyline.jpg);
/*This is how to get the background for the section*/
opacity: 0.70;
position: relative;
color: white;

/*background-position: 0% 20%;*/
/*This is how to move the big picture up and down in css3  */
}

header a{ /*This targets the text of the links*/
    color: white; 
    text-decoration: none; /*This removes the underline of links*/
    text-transform: uppercase; /*This capitalizes the words for me*/
}

header ul{ /*Now this is targetting the bullet structure that was started with this naviagation.*/
    margin: 0;
    padding: 0;
    list-style-type: none; /* This targets the bullets in the list and removes them*/

}

header li{
    float: left; /*This causes the bullets to go horizontal*/
    padding: 0 20px 0 20px ;
    margin-left: 120px;
    
}


.slogan{
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
}

#centerme{
background:#f8fcff;
text-align: center;
}

header a:hover{ /*When you hover over the nav with your mouse, the links light up silver*/
    color: silver;
    font-weight: bold;
}

.boxes{
margin-left: 5%;
    margin-top:  50px;
    margin-right: 2%;
}

.box{
    
    float:left;
    width: 30%;
    padding: 15px;
    text-align: center;
}

.weAre{
background-color: aliceblue;
text-align: center;

}
.button1{
    
text-align: center;
transition: 0.3s;
    padding: 10px 10px 10px 10px;
    color: black;
    background-color:transparent;
    border-style: solid;
}

.button1:hover{
    background-color: black;
    color: silver;
}

.nextsteps{
padding-top: 40px;
padding-bottom: 40px;
background-attachment: fixed;
border: 10px;
background-image: url(./imgs/San-Diego-Skyline.jpg);
/*This is how to get the background for the section*/
opacity: 0.70;
position: relative;
color: white;
/*
        background-image: url('./imgs/San-Diego-Skyline.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        height:200px;
        width:200px;

        */
        
    }
/*.nextStepButton{
    padding: 10px 10px 10px 10px;
    font: white;
    background-color:transparent;
    border-style: solid;
    }
*/
.next2steps{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 5em;
    }



#blue{
    font-size: 42px;
}

.resizeme{
    width:40px;
    height:40px;
}

.socialmedia{
    padding-top: 40px; /*You wana center the div and not the icons themselves*/
    padding-bottom: 40px;

    text-align: center;

}

.container{
    text-align: center;
}

.navBar{
    transition: 0.3s;
}